<div class="row pulse">
    <h1 class="center-align truncate">Добро пожаловать</h1>
    <img  class="col s6 offset-s3 " src="https://i.pinimg.com/564x/d8/59/29/d8592979521d63c6eba854222d1c24c3.jpg" alt="photo">

</div>
<p class="center-align">Здесь только лучшие курсы!</p>

